/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background: radial-gradient(
    circle,
    rgba(150, 100, 225, 1) 17%,
    rgba(165, 124, 175, 1) 80%
  );
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.Core {
  height: 200px;
}
